{{ define "main" -}}
 <!-- TOC
    {{ if and (ge (len .TableOfContents) 100) (ne .Params.toc "false")  }}

      <div id="toc" class="w3-dropdown-hover w3-hide-small w3-hide-medium">
        <button class="w3-button w3-teal w3-xlarge">&#9776;</button>
        <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
          <h3 class="w3-center">{{T "toc"}} </h3>
            {{.TableOfContents}}
        </div>
      </div>
    {{ end }}

-->

<article class="post-content post tag-aventura">

    <header class="post-content-header">
        <h1 class="post-content-title">{{ .Title }}</h1>
    </header>
      {{ with .Params.summary }}
      <p class="post-content-excerpt">{{ . }}</p>
      {{ end }}

      {{ with .Params.cover }}
      <div class="post-content-image">
        <img class="kg-image" src="/posts/covers/{{ relURL . }}" alt="Portada" />
      </div>
      {{ else }}
      <div class="post-content-image">
        <img class="kg-image" src="/codexph.jpg" alt="Sin Portada" />
      </div>
      {{ end }}

      <!-- Metadata -->

      <div class="adventure-box">
        <div class="ui five column stackable grid container adventure-info">
          <div class = "row">
            <div class = "column">
              <img src="/assets/canon.png" alt="Evaluación canon" />
              <span>{{ humanize .Params.eval }}</span>
            </div>
            <div class = "column">
              <img src="/assets/level.png" alt="Nivel" />
              <span>Nivel</span>
              {{ if (eq .Params.minlevels .Params.maxlevels)  }}
                {{ .Params.minlevels }}
              {{ else  }}
                {{ .Params.minlevels }}-{{ .Params.maxlevels }}
              {{- end }}
            </div>
            <div class = "column">
              <img src="/assets/pj.png" alt="Personajes" />
              <span>Personajes</span>
              {{ if (eq .Params.mincharacters .Params.maxcharacters)  }}
                {{ .Params.mincharacters }}
              {{ else  }}
                {{ .Params.mincharacters }}-{{ .Params.maxcharacters }}
              {{- end }}
            </div>
            <div class = "column">
              <img src="/assets/sessions.png" alt="Numero de sesiones" />
              <span>Sesiones</span>{{ .Params.session}}
            </div>
            <div class = "column">
              <img src="/assets/price.png" alt="Precio" />
              <span>Precio</span>{{ .Params.prices }}
            </div>
          </div>
        </div>
      </div>

      <!-- Content -->
      <div class="post-content-body">
       {{.Content}}
      </div>

      {{ with .Params.download }}
      <div class="attachment-list">
        <div class="list-item">
            <img src="/assets/download.png" alt="Descarga">
            <a href="/posts/downloads{{ relURL . }}" target="_blank">Descarga</a>
        </div>
     </div>
     {{ end }}


    <div class="adventure-box">
     
      {{ if .Params.date }}
        <div class="ui four column stackable grid container adventure-info">
      {{- else }}
        <div class="ui three column stackable grid container adventure-info">
      {{- end }}
      <div class = "row">
        
          <div class = "column">
            <img src="/assets/canon.png" alt="Evaluación canon" />
            <span>Autoría</span>
            {{ with .Params.authors }}
              {{ range . }}
                <a class="w3-btn w3-small w3-round w3-green" href="{{ "authors" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
              {{ end }}
            {{ end }}
          </div>
          {{ if .Params.date }}
            <div class = "column">
              <img src="/assets/level.png" alt="Nivel" />
              <span>Publicada</span>{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
            </div>
          {{- end }}
          <div class = "column">
            <img src="/assets/pj.png" alt="Personajes" />
            <span>Líneas</span>
            {{ with .Params.categories }}
              {{ range . }}
                <a class="w3-btn w3-small w3-round w3-green" href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
              {{ end }}
            {{ end }}
          </div>
          <div class = "column">
            <img src="/assets/price.png" alt="Precio" />
            <span>
              {{ with .Params.moreinfo }}
                <a href="{{ . }}" alt="Más información">Más info</a>
              {{ end }}
            </span>
          </div>
        </div>
        </div>
        <div class="ui one column stackable grid container adventure-info">
        <div class="row">
          
          <div class = "column">
            <img src="/assets/sessions.png" alt="Numero de sesiones" />
            <span>Tags</span>
            {{ with .Params.tags -}}
              {{ range . }}
                <a class="w3-btn w3-small w3-round w3-green" href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
              {{ end }}
            {{- end }}
          </div>
        </div>
      </div>
    </div>


    {{ if .Site.Params.relatedPosts }}
    {{ $related := .Site.RegularPages.Related . | first 50 }}
    {{ with $related }}
<div class="post-content-body">
        <!-- related content -->
        <h3>Aventuras relacionadas</h3>
        <ul class="w3-ul w3-hoverable">

            {{ range . }}

              <li class="w3-padding-large"><span class="date">{{ .Date.Format "2006/01/02" }}</span> &nbsp; <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    {{ end }}
    <br>

<!-- Author and License -->
      <!-- Post Pagination -->
    <div class="w3-content" >
      <div class="w3-bar w3-section">
	     {{ with .NextInSection }}
	      <a  href="{{ .Permalink }}" class="w3-btn w3-text-indigo w3-hover-green">
	          &#10094; {{ .Title }}
	      </a>
	    {{- end }}
	    {{ with .PrevInSection }}
	      <a class="w3-btn w3-right w3-text-indigo w3-hover-green" href="{{ .Permalink }}">
	       {{ .Title }} &#10095;
	      </a>
	    {{- end }}
  	  </div>
    </div>

     </article>


{{- end }}
